$white: #fff;
$black: #111;
$blue: #5C5C8D;
$blue-dark: #292B61;
$gray: #EBEBEB;
$gray-light: #FAFAFA;
$gray-dark: #DFDFDF;
$success: #1aaa55;
$success-dark: #168f48;
$danger: #db3b21;
$danger-dark: #c0341d;
